body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    padding-top: 50px;
}
.msg-error {
    color: red;
}
/*
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
*/
